* {
    margin: 0;
    padding: 0;
}

.heading {
    text-align: center;
    background-color: aqua;
    padding: 1rem;
    margin-bottom: 2rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}