#cards {
    width: 25rem;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-radius: 25px;
}
.like-btn {
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.post-title {
    text-align: center;
    font-size: 1.5rem;
    text-decoration: underline;
}

.title{
    text-align: center;
    text-decoration: underline;
}

.image {
    height: 20rem;
}
